<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDNjDPHpJXUDHQvhK97IRVRNU878XsqUkI</string>
	<key>GCM_SENDER_ID</key>
	<string>361255750897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.tatdTests</string>
	<key>PROJECT_ID</key>
	<string>tatd-driver-ee0f6</string>
	<key>STORAGE_BUCKET</key>
	<string>tatd-driver-ee0f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361255750897:ios:0f5a089c0f8f2382ffad50</string>
</dict>
</plist>